<link rel="stylesheet" href="/css/new.css" />

<% layout ("layouts/boilerplate.ejs") %>

<div class="new-page row py-3 px-3">
  <div class="col-sm-10 offset-sm-1 offset-lg-3 col-md-10 col-lg-6">
    <h3>Create a New Listing:</h3>
    <form
      action="/listings"
      method="POST"
      class="needs-validation"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title : </label>
        <input
          type="text"
          name="listing[title]"
          id="title"
          class="form-control"
          placeholder="write title here"
          required
        />
        <div class="valid-feedback">Done</div>
        <div class="invalid-feedback">Please enter the title</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description : </label>
        <textarea
          type="text"
          name="listing[description]"
          id="description"
          class="form-control"
          placeholder="add description here"
          required
        ></textarea>
        <div class="valid-feedback">Done</div>
        <div class="invalid-feedback">Please enter the description</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image : </label>
        <input
          type="file"
          name="listing[image]"
          id="image"
          class="form-control"
          required
        />
        <div class="valid-feedback">Done</div>
        <div class="invalid-feedback">Please upload the image</div>
      </div>

      <div class="mb-3">
        <label for="category" class="form-label">Category : </label>
        <select
          name="listing[category]"
          id="category"
          class="form-select category"
          required
        >
          <option selected>Open this select menu</option>
          <option value="Beachfront">Beachfront</option>
          <option value="Trending">Trending</option>
          <option value="Farm">Farm</option>
          <option value="Lake">Lake</option>
          <option value="Historical homes">Historical homes</option>
          <option value="Mountain">Mountain</option>
          <option value="Amazing pools">Amazing pools</option>
          <option value="Amazing views">Amazing views</option>
          <option value="Design">Design</option>
          <option value="Surfing">Surfing</option>
          <option value="National park">National park</option>
          <option value="Campaign">Campaign</option>
        </select>

        <div class="valid-feedback">Done</div>
        <div class="invalid-feedback">Please choose category</div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price : </label>
          <input
            type="number"
            name="listing[price]"
            id="price"
            class="form-control"
            placeholder="ex: 12000"
            required
          />
          <div class="valid-feedback">Done</div>
          <div class="invalid-feedback">Please enter the price</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="location" class="form-label">Location : </label>
          <input
            type="text"
            name="listing[location]"
            id="location"
            class="form-control"
            placeholder="ex: Jaipur, Rajasthan"
            required
          />
          <div class="valid-feedback">Done</div>
          <div class="invalid-feedback">Please enter the location</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="country" class="form-label">Country : </label>
        <input
          type="text"
          name="listing[country]"
          id="country"
          class="form-control"
          placeholder="ex: India"
          required
        />
        <div class="valid-feedback">Done</div>
        <div class="invalid-feedback">Please enter the country</div>
      </div>

      <button class="btn btn-dark">Add Listing</button>
    </form>
  </div>
</div>
