.edit-page {
  margin-top: 90px !important;
}

.form-control,
.category {
  border-color: #222222 !important;
}

#openToChange {
  display: none !important;
  /* opacity: 0.7; */
}

/* Remove spinner arrows from number input */
.form-control::-webkit-inner-spin-button,
.form-control::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
