<link rel="stylesheet" href="/css/footer.css" />

<footer class="footer container-fluid text-start" style="background-color: #b0b0b0">
  <div
    class="d-md-flex justify-content-evenly align-items-start border-bottom py-5 px-3 gap-sm-4 left-side"
  >
    <div class="d-flex flex-column mb-3">
      <p><b>Support</b></p>
      <a href="#footer">Help Center</a>
      <a href="#footer">Air Cover</a>
      <a href="#footer">Anti-discrimination</a>
      <a href="#footer">Disability Support</a>
      <a href="#footer">Cancellation Option</a>
      <a href="#footer">Report Neighbourhood Concern</a>
    </div>
    <div class="d-flex flex-column mb-3">
      <p><b>Hosting</b></p>
      <a href="#footer">HomeStay your home</a>
      <a href="#footer">AirCover for Hosts</a>
      <a href="#footer">Hosting Resources</a>
      <a href="#footer">Community forum</a>
      <a href="#footer">Hosting Responsibily</a>
      <a href="#footer">Join a free Hoisting class</a>
    </div>
    <div class="d-flex flex-column mb-3">
      <p><b>HomeStay</b></p>
      <a href="#footer">Newsroom</a>
      <a href="#footer">Carrier</a>
      <a href="#footer">New Features</a>
      <a href="#footer">Investors</a>
      <a href="#footer">HomeStay.org emergency stays</a>
    </div>
  </div>
  <div
    class="d-flex align-items-center justify-content-between flex-column flex-md-row gap-3 py-4 px-md-3 px-lg-5 right-side"
  >
    <div
      class="d-flex flex-column flex-md-row align-items-center justify-content-center gap-md-4"
    >
      <div class="f-company"><b>HomeStay Private Limited.</b></div>
      <div class="d-flex gap-4 f-terms&privacy mx-2">
        <div>
          <a href="#footer">Terms & Privacy</a>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-around align-items-center gap-lg-2">
      <div class="languages p-2">
        <i class="fa-solid fa-globe me-2"></i>
        <select name="lang" id="lang" class="">
          <option value="English">English</option>
          <option value="Hindi">Hindi</option>
          <option value="Urdu">Urdu</option>
          <option value="Bengali">Bengali</option>
        </select>
      </div>
      <div class="currency px-3 py-2">
        <a href="#footer"><i class="fa-solid fa-indian-rupee-sign me-1"></i>INR</a>
      </div>
      <div class="d-flex align-items-center gap-2">
        <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.twitter.com/"> <i class="fa-brands fa-twitter"></i></a>
        <a href="https://www.instagram.com/">
          <i class="fa-brands fa-square-instagram"></i
        ></a>
      </div>
    </div>
  </div>
</footer>
