<footer>
  <div class="f-info">
    <div class="f-socials">
      <div><i class="fa-solid fa-globe mx-1"></i>English (IN)</div>
      <div><i class="fa-solid fa-indian-rupee-sign mx-1"></i>INR</div>
      <div>
        <i class="fa-brands fa-facebook mx-1"></i>
        <i class="fa-brands fa-twitter mx-1"></i>
        <i class="fa-brands fa-square-instagram mx-1"></i>
      </div>
    </div>

    <div class="f-company">HomeStay Private Limited.</div>

    <div class="f-terms&privacy">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
