<!-- sub-nav -->
<link rel="stylesheet" href="/css/sub-nav.css" />

<div id="sub-nav" class="row shadow-sm row-col-2 py-3 px-4 px-lg-5 border-bottom">
  <div class="scrollable col-xl-9 col-lg-8 d-flex gap-5 overflow-auto text-center">
    <a href="/listings/filter/Rooms" class="text-decoration-none">
      <div class="filter">
        <i class="fa-solid fa-bed"></i>
        <p>Rooms</p>
      </div>
    </a>
    <a href="/listings/filter/Beachfront" class="text-decoration-none">
      <div class="filter">
        <i class="fa-solid fa-umbrella-beach"></i>
        <p>Beachfront</p>
      </div>
    </a>
    <a href="/listings/filter/Trending" class="text-decoration-none">
      <div class="filter">
        <i class="fa-solid fa-fire"></i>
        <p>Trending</p>
      </div>
    </a>
    <a href="/listings/filter/Mountain" class="text-decoration-none">
      <div class="filter">
        <i class="fa-solid fa-mountain-sun"></i>
        <p>Mountain</p>
      </div>
    </a>
    <a href="/listings/filter/Farm" class="text-decoration-none">
      <div class="filter">
        <i class="fa-solid fa-tractor"></i>
        <p>Farm</p>
      </div>
    </a>
    <a href="/listings/filter/Amazing pools" class="text-decoration-none">
      <div class="filter">
        <i class="fa-solid fa-person-swimming"></i>
        <p>Amazing pools</p>
      </div>
    </a>
    <a href="/listings/filter/Lake" class="text-decoration-none">
      <div class="filter">
        <i class="fa-solid fa-water"></i>
        <p>Lake</p>
      </div>
    </a>
    <a href="/listings/filter/Historical homes" class="text-decoration-none">
      <div class="filter">
        <i class="fa-solid fa-hotel"></i>
        <p>Historical homes</p>
      </div>
    </a>
    <a href="/listings/filter/Amazing views" class="text-decoration-none">
      <div class="filter">
        <i class="fa-solid fa-tower-observation"></i>
        <p>Amazing views</p>
      </div>
    </a>
    <a href="/listings/filter/Design" class="text-decoration-none">
      <div class="filter">
        <i class="fa-solid fa-tower-observation"></i>
        <p>Design</p>
      </div>
    </a>
    <a href="/listings/filter/Surfing" class="text-decoration-none">
      <div class="filter">
        <i class="fa-solid fa-tower-observation"></i>
        <p>Surfing</p>
      </div>
    </a>
    <a href="/listings/filter/National park" class="text-decoration-none">
      <div class="filter">
        <i class="fa-solid fa-tower-observation"></i>
        <p>National park</p>
      </div>
    </a>
    <a href="/listings/filter/Camapign" class="text-decoration-none">
      <div class="filter">
        <i class="fa-solid fa-tower-observation"></i>
        <p>Campaign</p>
      </div>
    </a>
  </div>

  <div
    class="tax-area col-xl-3 col-lg-4 d-flex align-items-center justify-content-center"
  >
    <div class="form-check-reverse form-switch">
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" />
      <label class="form-check-label" for="flexSwitchCheckDefault"
        >Display total after taxes:</label
      >
    </div>
  </div>
</div>
