<link rel="stylesheet" href="/css/login.css" />

<% layout ("layouts/boilerplate.ejs") %>

<div class="login-page row row py-5 px-3">
  <div class="col-sm-10 offset-sm-1 offset-lg-3 col-md-10 col-lg-6">
    <h4>Login:</h4>
    <form action="/login" method="POST" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Username : </label>
        <input
          type="text"
          id="username"
          class="form-control"
          name="username"
          placeholder="write username here"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password : </label>
        <input
          type="password"
          id="password"
          class="form-control"
          name="password"
          placeholder="enter password here"
          required
        />
      </div>
      <button class="btn btn-dark">Login</button>
    </form>
  </div>
</div>
